/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
        Start commun prop
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ==========================================================================
        Start mobile style
   ========================================================================== */




/* ==========================================================================
        Start desktop style
   ========================================================================== */

         /*------main section style------*/
         

.main
{
    width: 100%;
    min-height: 100vh;
    background:url(../img/ariereplan9.jpg)center no-repeat;
    background-size: cover;

} 

header
{
    display:flex;
    width: 100%;
    height:75px;
    background-color:#2D2A26;
    color: white;

}
.asdheader
{
    width: 40%;
    height: 100%;
    /*border:1px solid black;*/
    text-align: center;
    padding-top: 15px;
}
.asdheader h3, footer .adresse h3
{
    font-family: 'Aclonica';
    font-size: 35px;
}
.asdheader h3 span, .adresse h3 span
{
    font-size: 25px;
    font-family:'Almendra';
    color:rgb(255,0,85);
}

header div
{
    width: 60%;
    height: 100%;
    padding-top: 15px;

}
header div nav .menu .imenu
{
    display:none;
}
header div nav .menu 
{
    width: 100%;
    display:flex;
    height: 50%;
    justify-content: space-around;
}
header div nav .menu li
{
    list-style-type: none;
    
}

header div nav .menu li a
{
    text-decoration: none;
}
header div nav .menu li:hover
{
    font-weight: bold;
}


/*--------style reseau sociaux article--------*/
.reseau-sociaux
{
    width: 100%;
    height: 50%;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 15px;
}
.reseau-sociaux a
{
  color: white;
  font-size: 15px;

}
.reseau-sociaux a:hover
{
 color:rgb(255,0,85);
}

/*------ bienvenu section style------*/

.bienvenu
{
   width: 100%;
   
   padding-top: 60px;
   display: flex;
   justify-content: space-between;
   height: 500px;
   font-family: 'Almendra'; 
}
.bienvenu h1
{
    font-size: 50px;
      
    margin:23% 2%;

}
.bienvenu article
{
   align-self: flex-end;
   margin:-10% 10%;
   font-size: 50px;
   color: rgb(255,0,85);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   

}
.bienvenu  article p 
{
    align-self:center;
    margin:5% 0%; 
}
.bienvenu  article .icone
{
    align-self:flex-end;
    margin:auto;
}
/*------ start model section style------*/
.model
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;
    /*margin-bottom: 10px;*/
    background-color:rgb(9,11,6);
    /*color: white;*/
    height: 450px;

}
.model article
{
    width: 50%;
    margin:40px 3%;
    height: 100%;
 }   

  .model   article p
{
    line-height: 3em;
    color: white;
}
.model figure
{
    width: 50%;
    height: 100%

}
.model figure img
{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    top:0px;
}
.model article h2
{
    color:rgb(170,50,55);
    font-style: italic;
    font-size: 18px;
    margin:0 20%;
    margin-bottom:  20px;
    /*text-decoration: underline;*/
}
.model article hr
{
    
    width: 48%;
    margin:0 20%;
    color: rgb(170,50,55);
}

#modelblanc 
{
   background-color: rgb(190,185,182); 
}

#modelblanc article p
{
     
    
    color: black;
}
#modelblanc article hr
{
    width: 50%;
    margin:0 20%;
    color: rgb(170,50,55);
}
/*-------------start reserver secton--------*/
.reserver 
{
    width: 100%;
    height: 120px;
    display:flex;
    justify-content: center;
    /*background-color: red;*/
    align-items: center;
}
.reserver p
{
    width: 50%;
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin:0 -10%;
}
.reserver button
{
    padding:12px;
    background-color:rgb(230,89,82);
    border:none;
    font-weight: bold;
    border-radius: 3px;

}

/*-----------------start  style fooetr --------------*/
footer 
{
    width: 100%;
    
    color: white;

}
footer div
{
    display:flex;
    width: 100%;
    padding-top: 30px;
    justify-content: space-around;
    background-color: rgb(37,37,37);
    height: 150px;

}

footer .adresse
{  
    line-height: 2em;
}
, footer .formules
{
    line-height: 1.5em;
}
footer .formules li
{
    list-style-type: none;

}
footer .copyright
{
    width: 100%;
    height: 30px;
    background-color:rgb(9,11,6);
    text-align: center; 
}


/*----------------style catalogue page----------*/

#catalogue 
{
    width: 100%;
    /*height: 100vh;*/
    background:none;
    background-color: white;
}
#catalogue .motif
{
    width: 100%;

}
#catalogue .motif h1
{
    font-family: 'Lobster';
    text-align: center;
}

 #catalogue .motif .motifs 
 {
    width: 100%;
    display: flex;
    justify-content: space-between;    
 }
 #catalogue .motif .motifs figure
 {
    width:25%;
 }
 #catalogue .motif .motifs figure img
 {
    width: 100%;
    height: 80%;
 }
 #catalogue .motif .motifs figure span
 {
    margin-top: 10px;
    font-style: italic;
    margin:0 10%;
    color:rgb(170,50,55); 
 }












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
